<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/write.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap" rel="stylesheet">


    <!-- Script -->
    <title>TechBank :: 案件登録</title>
</head>
<body>

<div class="write-wrapper">
    <form action="/board.pro" name="write_frm" method="post">
        <table>
            <tr>
                <td class="col-name">案件名</td>
                <td>
                    <input class="input-1"  name="agendaName" type="text">
                </td>
            </tr>
            <tr>
                <td class="col-name">契約期間</td>
                <td>
                    <input class="data-input"  name="agendaStartDate" type="date"> ∼
                    <input class="data-input"  name="agendaEndDate" type="date">
                </td>
            </tr>
            <tr>
                <td class="col-name">勤務地</td>
                <td>
                    <input class="input-1"  name="agendaPlace" type="text">
                </td>
            </tr>
            <tr>
                <td class="col-name">月額単位</td>
                <td>
                    <input class="pay-input"  name="agendaMinPay" type="text"> ∼
                    <input class="pay-input"  name="agendaMaxPay" type="text"> 万
                </td>
            </tr>
            <tr>
                <td class="col-name">必要スキル</td>
                <td>
                    <input class="input-1"  name="agendaSkill" type="text">
                </td>
            </tr>
            <tr>
                <td class="col-name">カテゴリー</td>
                <td>
                    <input type="radio"  name="agendaCategory" value="Java">Java
                    <input type="radio"  name="agendaCategory" value="php">php
                    <input type="radio"  name="agendaCategory" value="C/C++">C/C++
                </td>
            </tr>
            <tr>
                <td class="col-name">面談回数</td>
                <td>
                    <input class="pay-input"  name="agendaInterviewNumber" type="text"> 回
                </td>
            </tr>
            <tr>
                <td class="col-name">その他</td>
                <td>
                    <textarea name="agendaEtc"></textarea>
                </td>
            </tr>
            <tr class="tr-last">
                <td colspan="2">
                    <button type="button" class="login-button" onclick="write_send()">登録</button>
                    <button type="button" class="login-button" onclick="cancle()">削除</button>
                </td>
            </tr>
        </table>

    </form>

</div>

<script type="text/javascript" src="script/write.js">


</script>
</body>
</html>